<div class="add-diary">
    <div>
        <label for="campaign">Choose a campaign:</label>
        <select id="campaign" name="campaign" #campaignId>
            <option *ngFor="let campaign of campaigns" value="campaign.campaignId">{{campaign.campaignName}}</option>
        </select>
    </div>
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" #campaignTitle />
    </div>
    <div>
        <label for="date">Date:</label>
        <input type="text" id="date" #campaignDate />
    </div>
    <div>
        <label for="content">Content:</label>
        <textarea type="text" id="content" #campaignContent></textarea>
    </div>
    <button class="btn btn-primary"
        (click)="submitNewEntry(campaignId.value, campaignTitle.value, campaignDate.value, campaignContent.value)">Submit</button>
</div>